*{

}

h1 {
    background-color: coral;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
    max-width: 20%;
    margin-top: 25px;
    color: #444444;
    margin-left: 35px;
    border: 6px solid navy;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;  

}

img{
    margin: 0px;
    float: left;
    width: 147px;
    padding: 1px;
    border: 6px solid navy;
    text-align: left;
    border-radius: 25px;

}






